.header__bottom {
	.header-catalog__list.large {
		position: relative;

		.header-catalog__item {
			flex-grow: 1;
			height: 48px;
			background-color: $gray-2;
			border-bottom: 2px solid transparent;
			transition: all 0.2s linear;

			.link {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				svg {
					margin-right: 15px;
				}
			}

			.link__text {
				margin-top: 4px;
				font-weight: 500;
				font-size: 18px;
			}

			&:not(:last-child) {
				border-right: 1px solid $white;
			}

			&:first-child {
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}

			&:last-child {
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}

			&:hover {
				border-bottom: 2px solid $blue;
				cursor: pointer;
				background-color: $gray-3;

				.link {
					color: $dark;
				}

				.dropdown__body {
					display: flex;
					opacity: 1;
					width: 100%;
					pointer-events: auto;
					cursor: auto;
					padding: 32px 32px 0 32px;
					height: 396px;

					&-inner {
						width: 100%;
					}

					.dropdown__list {
						display: flex;
						flex-direction: column;
						align-content: space-between;
						flex-wrap: wrap;
						height: 100%;
					}

					.dropdown__item {
						display: block;
						width: 30%;
						margin-bottom: 16px;

						ul {

							li {
								margin-left: 25px;
								position: relative;

								a {
									color: $dark;

									&:hover {
										color: $blue;
									}
								}

								&::before {
									content: '';
									display: block;
									position: absolute;
									left: -15px;
									top: 50%;
									transform: translateY(-50%);
									width: 3px;
									height: 3px;
									background-color: $dark;
									-webkit-border-radius: 100%;
									-moz-border-radius: 100%;
									border-radius: 100%;
								}
							}
						}
					}

					&::before {
						content: '';
						display: block;
						width: 100%;
						height: 13px;
						position: absolute;
						top: 0;
						left: 0;
						transform: translateY(-100%);
						background-color: transparent;
					}

					.dropdown__link {
						padding: 0;
						color: $dark;
						font-weight: 700;
						font-size: 16px;
						line-height: 125%;
						margin-bottom: 15px;
						transition: all .2s linear;

						&:hover {
							background-color: transparent;
							color: $blue;
						}
					}
				}
			}
		}
	}
}

.header--fixed .header-catalog__list.large {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
}