.favorite-filter {
	transition: all 0.2s linear;
	a {
		color: $dark;
		font-size: 14px;

		span {
			color: $gray-1;
		}
	}

	&__inner {
		max-height: 300px;
		margin-top: 10px;
		margin-bottom: 10px;
		overflow-y: auto;
		scrollbar-color: $gray-2;
		scrollbar-width: thin;

		&--radio {
			padding-top: 10px;
			padding-bottom: 3px;
			display: flex;
			flex-direction: column;

			.radio-btn__text {
				font-size: 14px;
			}

			label:not(:last-child) {
				margin-bottom: 16px;
			}

			@include below(923px) {
				display: flex;
				flex-direction: column;
			}
		}

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $gray-2;
			border: 3px solid $gray-2;
			border-radius: 20px;
		}
	}

	&__form {
		padding: 16px 16px 12px;
		border: 1px solid $gray-2;
		border-radius: 4px;
	}

	&__title {
		margin-bottom: 14px;
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		cursor: pointer;

		svg {
			width: 13px;
			height: 7px;
			margin-right: 10px;
			margin-left: 5px;
			transition: all 0.2s linear;
			fill: $blue;
		}
	}

	&__item {
		height: 38px;
		overflow: hidden;
		transition: all 0.2s linear;

		.favorite-filter__inner {
			opacity: 0;
			transition: all 0.3s linear;
		}

		&:not(:first-child) {
			margin-top: 15px;
		}

		&:last-child {
			margin-bottom: 24px;
		}

		&.is-open {
			height: auto;

			.favorite-filter__title svg {
				transform: rotate(-180deg);
			}

			.favorite-filter__inner {
				opacity: 1;
			}
		}

		&--range {
			max-width: 360px;
		}
	}

	&__row {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__value {
		margin-left: 15px;
		color: $filter-checkbox-value;
	}

	button + button {
		margin-top: 12px;
	}

	@include below(923px) {
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 102;
		width: 100%;
		height: calc(100% - 75px);
		overflow: auto;
		background-color: $white;

		@include below(767px) {
			height: calc(100% - 60px);
		}

		&.is-open {
			left: 0;
		}
	}

	&__submit {
		@include below(923px) {
			background-color: $blue;
			color: $white;
		}
	}

	li {
		margin-bottom: 8px;
		margin-top: 8px;
	}

	ul ul li {
		padding-left: 32px;
		position: relative;

		//&::after {
		//	content: '';
		//	position: absolute;
		//	left: 16px;
		//	top: 11px;
		//	transform: translateY(-50%);
		//	width: 3px;
		//	height: 3px;
		//	background-color: #0c131d;
		//	border-radius: 50%;
		//}
	}

	&__heading {
		@include below(923px) {
			display: none;
		}
	}
}
