// colors


$dark: #0C131D;
$dark-blue: #133050;

$red: #F04438;

$status-delivery: #F2994A;
$status-available: #27AE60;
$status-order: #F04438;

$main-color: #E72696;
$pink-light: #E93FA1;
$pink-dark: #C5167B;

$yellow: #F9ED37;


$blue: #00ADEF;
$blue-light: #0ABBFF;
$blue-dark: #0089BD;

$white: #ffffff;

$gray: #C8CBCE;
$gray-1: #B8B8B8;
$gray-2: #E7E9EB;
$gray-3: #F7F8FA;
$gray-4: #86898E;
$gray-5: #90A4AF;
$gray-6: #B0BFC6;

$filter-checkbox-value: #828282;

/// Breakpoints map
// $desktop-max: 1439px;
// $desktop-min: 1279px;
// $desktop: 991px;
// $tablet: 767px;
// $mobile-land: 575px;
// $mobile: 374px;
