.catalog-filter {
	transition: all 0.2s linear;
	&__form {
		padding: 16px 16px 12px 16px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border: 1px solid $gray-2;
	}

	&__item {
		height: 38px;
		transition: all 0.2s linear;
		overflow: hidden;

		.catalog-filter__inner {
			opacity: 0;
			transition: all 0.3s linear;
		}

		&:not(:first-child) {
			margin-top: 15px;
		}

		&:last-child {
			margin-bottom: 24px;
		}

		&.is-open {
			height: auto;

			.catalog-filter__title svg {
				transform: rotate(-180deg);
			}

			.catalog-filter__inner {
				opacity: 1;
			}
		}

		&--range {
			max-width: 360px;
		}
	}

	&__inner {
		overflow-y: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		max-height: 145px;
		scrollbar-color: $gray-2;
		scrollbar-width: thin;

		&--radio {
			padding-top: 10px;
			label:not(:last-child) {
				margin-bottom: 16px;
			}

			@include below(923px) {
				display: flex;
				flex-direction: column;
			}
		}

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $gray-2;
			border-radius: 20px;
			border: 3px solid $gray-2;
		}
	}

	&__title {
		margin-bottom: 14px;
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		cursor: pointer;

		svg {
			width: 13px;
			height: 7px;
			fill: $blue;
			margin-left: 5px;
			margin-right: 10px;
			transition: all 0.2s linear;
		}
	}

	&__row {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__value {
		color: $filter-checkbox-value;
		margin-left: 15px;
	}

	button + button {
		margin-top: 12px;
	}

	@include below(923px) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: calc(100% - 75px);
		background-color: $white;
		z-index: 102;
		overflow: auto;

		&.is-open {
			left: 0;
		}
	}
}

.range-slider {
	width: 99%;
	margin-left: auto;
	margin-right: auto;

	&-label {
		width: 48%;

		input {
			width: 100px;
			height: 44px;
			padding: 12px;
			border: 1px solid $gray-2;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			&[type='number'] {
				-moz-appearance: textfield;
			}
		}
	}
}

.filter-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $gray-3;
	padding: 16px;

	&__close {
		cursor: pointer;

		svg {
			height: 24px;
			width: 24px;
			fill: $gray-1;
			pointer-events: none;
		}
	}
	@include above(924px) {
		display: none;
	}
}
