.menu {
	background-color: $gray-3;
	height: 32px;
	display: flex;
	align-items: center;

	@include below(1023px) {
		position: fixed;
		top: 0;
		left: -100%;
		bottom: 0;
		height: auto;
		width: 376px;
		z-index: 110;
		display: block;
		background-color: $white;
		overflow: auto;
		border-radius: 0px 4px 4px 0px;
		transition: left 0.3s ease-in-out;
	}

	@include below(575px) {
		width: 100%;
	}

	&.is-active {
		@include below(1023px) {
			left: 0;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;

		@include below(1023px) {
			flex-direction: column;
			padding-top: 32px;
			padding-bottom: 32px;
		}

	}

	&__close {
		@include below(1023px) {
			position: absolute;
			right: 16px;
			top: 16px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 24px;
			height: 24px;
			cursor: pointer;
		}
	}

	&__container{

		@include below(1023px) {
			padding-left: 32px;
			padding-right: 56px;
		}

		@include below(575px) {
			padding-right: 32px;
		}

		@include below(423px) {
			padding-left: 32px;
			padding-right: 32px;
		}
	}

	&__left {
		display: flex;
		align-items: center;

		@include below(1023px) {
			order: 3;
			display: block;
		}
	}

	&__logo {

		@include below(1023px) {
			display: block;
			width: 158px;
			margin-bottom: 48px;
		}
	}
	&__logo-img {

		@include below(1023px) {
			width: 100%;
			max-width: 100%;
		}
	}



	&__list {
		display: flex;
		align-items: center;

		@include below(1023px) {
			display: block;
		}
	}

	&__item {
		margin-right: 16px;
		display: flex;

		&:last-of-type {
			margin-right: 0;
			margin-bottom: 0;
		}

		@include below(1023px) {
			margin-bottom: 16px;
		}
	}

	&__link {
		font-size: 12px;

		@include below(1023px) {
			font-size: 16px;
		}
	}

	&__right {
		display: flex;
		align-items: center;

		@include below(1023px) {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 48px;
		}
	}

	&__dropdown {
		@include below(1023px) {
			display: none;
		}
	}

	&__city {
		display: flex;
		margin-right: 12px;

		@include below(1023px) {
			width: 100%;
			margin-bottom: 24px;
			padding-bottom: 8px;
			border-bottom: 1px solid $gray-3;
		}
	}

	&__city-link {
		@include below(1023px) {
			font-size: 16px;
		}
	}

	&__contacts {
		display: flex;
		align-items: center;
		margin-right: 24px;
		position: relative;

		@include below(1023px) {
			margin-right: 0;
			margin-bottom: 24px;
			display: block;
			order: 2;
		}

		&:after {
			content: '';
			position: absolute;
			right: -12px;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 10px;
			background-color: rgba($dark, 0.2);

			@include below(1023px) {
				display: none;
			}
		}
	}

	&__contacts-item {
		margin-right: 12px;
		display: flex;

		&:last-of-type {
			margin-right: 0;
			margin-bottom: 0;
		}

		@include below(1023px) {
			margin-right: 0;
			margin-bottom: 4px;
		}
	}

	&__contacts-link {

		@include below(1023px) {
			font-size: 14px;
			line-height: 140%;
		}
	}

	&__phone {
		margin-right: 24px;
		position: relative;

		@include below(1023px) {
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 12px;
			order: 1;
		}

		&:after {
			content: '';
			position: absolute;
			right: -12px;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 10px;
			background-color: rgba($dark, 0.2);

			@include below(1023px) {
				display: none;
			}
		}
	}

	&__call-back {
		display: flex;

		@include below(1023px) {
			order: 3;
		}
	}

	&__call-back-link {

		@include below(1023px) {
			font-size: 16px;
		}
	}

	&__title {
		padding-bottom: 8px;
		margin-bottom: 24px;
		border-bottom: 1px solid $gray-3;
	}

}
