.reviews {
	// .reviews__header
	&__header {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $gray-2;
		padding-bottom: 32px;
	}

	// .reviews__inner
	&__inner {
	}

	// .reviews__item
	&__item {
	}
}

.reviews-item {
	// .reviews-item__title
	&__title {
		display: flex;
		align-items: center;
		margin-bottom: 12px;
	}

	// .reviews-item__name
	&__name {
	}

	// .reviews-item__date
	&__date {
		margin-left: auto;
		color: $gray-4;
	}

	// .reviews-item__rating
	&__rating {
	}

	// .reviews-item__inner
	&__inner {
		border: 1px solid $gray-2;
		border-radius: 4px;
		padding: 24px;
	}

	// .reviews-item__plus
	&__plus {
		padding-left: 40px;
		background-image: url('../img/svg/reviews-plus.svg');
		background-position: left top;
		background-repeat: no-repeat;
	}

	// .reviews-item__minus
	&__minus {
		padding-left: 40px;
		background-image: url('../img/svg/reviews-minus.svg');
		background-position: left top;
		background-repeat: no-repeat;
	}

	// .reviews-item__comment
	&__comment {
		padding-left: 40px;
		background-image: url('../img/svg/reviews-comment.svg');
		background-position: left top;
		background-repeat: no-repeat;
	}
}

.rating {
	&-wrap {
		display: flex;
		align-items: center;
	}

	&-stars {
		display: flex;
		flex-direction: column;
		&__text {
			font-size: 12px;
			color: $gray-4;
		}
	}

	&-total {
		font-size: 36px;
		font-weight: 700;

		&--sm {
			font-size: 16px;
		}
	}
}

.rating_set {
}
