.product-tabs {
	//margin-top: 112px;
	@include adaptiveValue("margin-top", 112, 64);
	// .tabs__navigation
	&__navigation {
		display: flex;
	}
	// .tabs__title
	&__title {
		border: 0;
		padding: rem(16) rem(24);
		background-color: $gray-2;
		position: relative;
		margin-right: 1px;
		z-index: 1;
		cursor: pointer;

		&._tab-active {
			background-color: $gray-3;
			border-bottom: 2px solid $blue;
		}
		&:first-child {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
		&:last-child {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
	// .tabs__content
	&__content {
	}
	// .tabs__body
	&__body {
	}

	&__table {
		border-collapse: collapse;
		width: 100%;
		tr {
			&:nth-child(odd) {
				background-color: $gray-3;
			}
		}
		td {
			width: 50%;
			padding: 12px;
		}
	}
}

.delivery-table {
	width: 100%;
	border-collapse: collapse;
	tr:not(:last-child), thead tr {
		border-bottom: 1px solid rgba($gray-5, .1);
	}
	th, td {
		width: 25%;
		text-align: left;
		vertical-align: top;
		padding: 24px 0;
	}
	th {
		color: $gray-4;
		font-size: 16px;
		line-height: 125%;
		font-weight: 400;
	}
	tbody td:nth-child(2) {
		color: $gray-4;
	}

	.status-available {
		color: $status-available;
	}

	.status-order {
		color: $status-delivery;
	}
}