h1, .h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	line-height: 130%;
	font-weight: bold;

	@include below(1023px) {
		font-size: 24px;
	}
}

h2, .h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	line-height: 130%;
	font-weight: bold;

	@include below(1023px) {
		font-size: 21px;
	}
}

h3, .h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 21px;
	line-height: 130%;
	font-weight: bold;

	@include below(1023px) {
		font-size: 19px;
	}
}

h4, .h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 130%;
	font-weight: bold;

	@include below(1023px) {
		font-size: 17px;
	}
}

h5, .h5 {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 130%;
	font-weight: bold;
}


p{
	font-size: 16px;
	line-height: 150%;
	font-weight: normal;
	margin-top: 0;
}

.text {
	font-weight: normal;

	&--xxl {
		font-size: 22px;
		line-height: 140%;
	}

	&--xl {
		font-size: 20px;
		line-height: 140%;
	}

	&--lg {
		font-size: 18px;
		line-height: 145%;
	}

	&--md {
		font-size: 16px;
		line-height: 150%;
	}

	&--sm {
		font-size: 14px;
		line-height: 140%;
	}

	&--xs {
		font-size: 12px;
		line-height: 130%;
	}

	&--bold {
		font-weight: bold;
	}

	&--tight {
		line-height: 125%;
	}

	&--tight--sm {
		line-height: 115%;
	}

	&--color--main {
		color: $main-color !important;
	}

	&--color--blue {
		color: $blue !important;
	}

	&--color--gray {
		color: $gray-1 !important;
	}

	&--color--gray-4 {
		color: $gray-4 !important;
	}

	&--color--graphite {
		color: $gray-5 !important;
	}

	&--color--white {
		color: $white !important;
	}

	&--color--dark {
		color: $dark !important;
	}

	&--color--black {
		color: #000000 !important;
	}

	&--opacity {
		opacity: 0.7;
	}

	&--strike {
		position: relative;
		display: inline-block;
		&:after {
			content: '';
			position: absolute;
			top: 6px;
			left: 0;
			right: 0;
			height: 1px;
			background-color: $main-color;
			transform: rotate(-5deg);
		}
	}

	&--subtitle {
		padding-left: 16px;
		border-left: 3px solid #00adef;
	}
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

a:not([class]) {
	text-decoration: none;
	color: $blue;
	transition: color 0.3s ease;

	&:hover {
		@media (hover: hover) {
			color: $blue-light;
		}
	}
}
