.product {
	// .product__info
	&__info {
		@include below(960px) {
			height: 88px;
			&--flizelin {
				display: none;
			}
		}
		@include below(680px) {
			margin-bottom: 16px;
		}
	}
}

.product-info {
	padding: 24px;
	background-color: $white;
	border: 1px solid #f7f8fa;
	border-radius: 4px;

	@include below(960px) {
		height: 100%;
		display: flex;
		align-items: center;
	}

	// .product-info__properties
	&__properties {
	}

	// .product-info__details
	&__details {
		@include below(960px) {
			display: none;
		}
	}

	// .product-info__buttons
	&__buttons {
		width: 100%;
		@include below(960px) {
			position: relative;
		}
	}

	@include below(960px) {
		//display: flex;
		//align-items: center;
		//justify-content: center;
	}
}

.product-buttons {
	&__item {
		cursor: pointer;
		position: relative;

		span {
			transition: color .2s linear;
		}

		&:hover {
			span {
				color: $blue;
			}

			.product-info__popup {
				//display: none;
				opacity: 1;
				visibility: visible;
				width: 318px;
				left: 12px;
				top: -10px;
				transform: translate(-50%, -100%) scale(1);

				@include below(960px) {
					left: 50%;
				}
			}
		}

		@include below(960px) {
			position: static;
		}
	}
}

.product-properties {
	// .product-properties__item
	&__item {
		display: flex;

		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	// .product-properties__title
	&__title {
		color: $gray-4;
		line-height: 125%;
	}

	// .product-properties__divider
	&__divider {
		flex-grow: 1;
		margin-right: 3px;
		margin-bottom: 4px;
		margin-left: 5px;
		border-bottom: 1px dashed #c8cbce;
	}

	// .product-properties__value
	&__value {
	}

	@include below(960px) {
		display: none;
	}
}
