.catalog-tags {
	display: flex;

	&__item {
		height: 40px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding: 8px 12px;
		background-color: $gray-3;
		margin-right: 8px;
		cursor: pointer;
		transition: all 0.2s linear;
		border: 1px solid transparent;

		&:hover {
			border-color: $blue;
		}
	}

	&__title {
		color: $dark;
		text-decoration: none;
	}

	&__quantity {
		color: $gray-1;
		margin-left: 6px;
	}
}

.catalog-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 30px;
	margin-top: 32px;


	.catalog {
		&__filter {
			grid-column: 1/2;
			grid-row: 1/-6;
		}

		&__filter-form {
			padding: 16px 16px 12px 16px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			border: 1px solid $gray-2;
		}

		&__controls {
			grid-column: 2/5;
			display: flex;
			justify-content: space-between;
			padding: 16px 24px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			border: 1px solid $gray-2;
		}

		&__view-type {
			display: flex;

			.catalog__view-type-item {
				cursor: pointer;

				&:not(:last-child) {
					margin-right: 24px;
				}

				svg {
					fill: $gray-1;
				}

				&:hover svg,
				&.active svg {
					fill: $blue;
				}
			}
		}

		&__active-filter {
			grid-column: 2/5;
			margin-top: 16px;
			display: flex;

			.active-filter {
				&__item {
					height: 32px;
					padding: 8px 32px 8px 12px;
					margin-right: 8px;
					background-color: $dark-blue;
					color: $white;
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
					display: flex;
					align-items: center;
					cursor: pointer;
					position: relative;

					&--reset {
						background-color: $white;
						color: $dark-blue;
						border: 1px solid $dark-blue;
						padding: 8px 12px;
						transition: all .1s linear;

						&:hover {
							color: $white;
							background-color: $dark-blue;
						}
					}
				}

				&__remove {
					position: absolute;
					width: 10px;
					height: 10px;
					right: 12px;
					top: 50%;
					transform: translateY(-50%);
					display: flex;

					svg use {
						width: 10px;
						height: 10px;
						fill: $white;
					}
				}
			}
		}

		&__inner {
			grid-column: 2/5;
			margin-top: 24px;
		}
	}
}