.catalog-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 30px;
	margin-top: 32px;

	@include below(923px) {
		display: block;
	}

	.catalog {
		&__filter {
			grid-column: 1/2;
			grid-row: 1/-6;
		}

		&__controls {
			grid-column: 2/5;
			display: flex;
			justify-content: space-between;
			padding: 16px 24px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			border: 1px solid $gray-2;

			@include below(923px) {
				grid-column: 1/-1;
				padding-top: 0;
				padding-bottom: 0;
			}

			.filter-toggler {

				display: flex;
				align-items: center;
				cursor: pointer;

				svg  {
					width: 24px;
					height: 24px;
				}

				@include above(924px) {
					display: none;
				}
			}
		}

		&__view-type {
			display: flex;

			.catalog__view-type-item {
				cursor: pointer;

				&:not(:last-child) {
					margin-right: 24px;
				}

				svg {
					fill: $gray-1;
				}

				&:hover svg,
				&.active svg {
					fill: $blue;
				}
			}

			@include below(923px) {

				display: flex;
				align-items: center;
			}
		}

		&__active-filter {
			grid-column: 2/5;
			margin-top: 16px;
			display: flex;

			.active-filter {
				&__item {
					height: 32px;
					padding: 8px 32px 8px 12px;
					margin-right: 8px;
					background-color: $dark-blue;
					color: $white;
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
					display: flex;
					align-items: center;
					cursor: pointer;
					position: relative;

					&--reset {
						background-color: $white;
						color: $dark-blue;
						border: 1px solid $dark-blue;
						padding: 8px 12px;
						transition: all 0.1s linear;

						&:hover {
							color: $white;
							background-color: $dark-blue;
						}
					}
				}

				&__remove {
					position: absolute;
					width: 10px;
					height: 10px;
					right: 12px;
					top: 50%;
					transform: translateY(-50%);
					display: flex;

					svg use {
						width: 10px;
						height: 10px;
						fill: $white;
					}
				}
			}
			@include below(923px) {
				grid-column: 1/-1;
			}
		}

		&__inner {
			grid-column: 2/5;
			margin-top: 24px;
			transition: all 0.2s linear;

			&.mosaic {
				display: grid;
				grid-template-columns: repeat(4, 1fr);

				@include below(1023px) {
					grid-template-columns: repeat(3, 1fr);
				}
			}

			@include below(923px) {
				grid-column: 1/-1;
			}
		}
	}
}

.sort-wrap {
	display: flex;
	align-items: center;

	&.active {
		.sort-list-title {
			&::after {
				transform: rotate(180deg);
			}
		}

		.sort-submenu {
			opacity: 1;
			visibility: visible;
		}
	}
	.sort-title {
		@include below(923px) {
			display: none;
		}
	}
	@include below(923px) {
		height: 58px;
		border-right: 1px solid $gray-2;
		border-left: 1px solid $gray-2;
		flex-grow: 1;
		justify-content: center;
		margin-left: 24px;
		margin-right: 24px;
	}
}

.sort-list-wrap {
	position: relative;
	.sort-submenu {
		position: absolute;
		left: 0;
		top: 100%;
		width: 250px;
		margin-top: 12px;
		background-color: $white;
		padding: 24px;
		z-index: 1;
		border-radius: 4px;
		box-shadow: 0 10px 21px 10px rgba(0, 9, 17, 0.05);
		transition: 0.2s;
		opacity: 0;
		visibility: hidden;
	}

	.sort-submenu-item {
		cursor: pointer;
		transition: 0.2s;
		margin-bottom: 12px;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover,
		&.active {
			color: $blue;
		}
	}
}

.sort-list-title {
	margin-left: 12px;
	cursor: pointer;
	&::after {
		content: '';
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-left: 4px;
		margin-bottom: -2px;
		background-image: url('img/svg/dropdown-blue.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 95%;
		transition: 0.2s;
		color: $blue;
	}
}
