<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Регистрация</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	    <link rel="stylesheet" href="styles/main.css">
    </head>
    <body class="body">
		@@include("../blocks/modules/header/header.html")

		<main class="main">
			<div class="breadcrumbs mb-2">
				<div class="container">
					<div class="breadcrumbs__list">
						<div class="breadcrumbs__item">
							<a href="#" class="breadcrumbs__link">
								Главная
							</a>
						</div>
						<div class="breadcrumbs__item">
								<span class="breadcrumbs__link">
									Регистрация
								</span>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
			
				<section class="section">
					<div class="container">
						<h1 class="h1 mb-5">
							Регистрация
						</h1>
						<form action="" class="form jsForm">
							
							<div class="row">
								<div class="col-12 col-md-10 col-xl-8 col-xxl-6">
									<div class="form__header mb-5">
										<label class="radio-btn mr-16">
											<input type="radio" class="radio-btn__input jsEntity jsEntityIndividual" name="face" checked>
											<span class="radio-btn__custom"></span>
											<span class="radio-btn__text text--sm">
												Физ. лицо
											</span>
										</label>
										<label class="radio-btn">
											<input type="radio" class="radio-btn__input jsEntity jsEntityLegal" name="face" >
											<span class="radio-btn__custom"></span>
											<span class="radio-btn__text text--sm">
												Юр. лицо
											</span>
										</label>
									</div>
									
									<div class="form__body mb-5">
										<div class="row form__row jsInputName">
											<div class="col-12 form__col">
												<div class="input">
													<input type="text" class="input__field jsInput" required>
													<div class="input__placeholder">Имя *</div>
													<div class="input__error">
														Описание ошибки и способы ее исправить
													</div>
												</div>
											</div>
										</div>
										<div class="row form__row">
											<div class="col-12 col-md-6 form__col mb-3 mb-md-0 d-none jsInputOrganization">
												<div class="input">
													<input type="text" class="input__field jsInput">
													<div class="input__placeholder">Организация *</div>
													<div class="input__error">
														Описание ошибки и способы ее исправить
													</div>
												</div>
											</div>
											<div class="col-12 col-md-6 form__col d-none jsInputInn">
												<div class="input">
													<input type="text" class="input__field jsInput">
													<div class="input__placeholder">ИНН *</div>
													<div class="input__error">
														Описание ошибки и способы ее исправить
													</div>
												</div>
											</div>
										</div>
										<div class="row form__row mt-3 mb-3">
											<div class="col-12 col-md-6 form__col mb-3 mb-md-0">
												<div class="input">
													<input type="email" class="input__field jsInput jsInputEmail" required>
													<div class="input__placeholder">Эл.почта  *</div>
													<div class="input__error">
														Описание ошибки и способы ее исправить
													</div>
												</div>
											</div>
											<div class="col-12 col-md-6 form__col">
												<div class="input">
													<input type="text" class="input__field jsInput jsInputPhone" required>
													<div class="input__placeholder">Телефон *</div>
													<div class="input__error">
														Описание ошибки и способы ее исправить
													</div>
												</div>
											</div>
										</div>
										<div class="row form__row">
											<div class="col-12 col-md-6 form__col mb-3 mb-md-0">
												<div class="input input--icon input--password">
													<input type="password" class="input__field jsInput jsInputPasswordEq jsInputPasswordEq--1" required>
													<div class="input__placeholder">Пароль</div>
													<svg class="icon icon--sm input__icon jsInputPasswordTrigger" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M6.59984 2.82666C7.05872 2.71924 7.52855 2.66555 7.99984 2.66666C12.6665 2.66666 15.3332 7.99999 15.3332 7.99999C14.9285 8.75706 14.4459 9.46981 13.8932 10.1267M9.41317 9.41332C9.23007 9.60982 9.00927 9.76743 8.76394 9.87674C8.51861 9.98605 8.25377 10.0448 7.98523 10.0496C7.71669 10.0543 7.44995 10.0049 7.20091 9.90432C6.95188 9.80373 6.72565 9.65401 6.53573 9.46409C6.34582 9.27418 6.1961 9.04795 6.09551 8.79892C5.99492 8.54988 5.94552 8.28314 5.95026 8.0146C5.955 7.74606 6.01378 7.48122 6.12309 7.23589C6.2324 6.99056 6.39001 6.76976 6.5865 6.58666M1.99984 2L13.9998 14M11.9598 11.96C10.8202 12.8287 9.43258 13.3099 7.99984 13.3333C3.33317 13.3333 0.666504 7.99999 0.666504 7.99999C1.49576 6.45459 2.64593 5.1044 4.03984 4.03999L11.9598 11.96Z" stroke="#B8B8B8" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
													<svg class="icon icon--sm input__icon jsInputPasswordTrigger" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M7.99984 2.66675C3.33317 2.66675 0.666504 8.00008 0.666504 8.00008C0.666504 8.00008 3.33317 13.3334 7.99984 13.3334C12.6665 13.3334 15.3332 8.00008 15.3332 8.00008C15.3332 8.00008 12.6665 2.66675 7.99984 2.66675Z" stroke="#B8B8B8" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
													<div class="input__error">
														Описание ошибки и способы ее исправить
													</div>
												</div>
											</div>
											<div class="col-12 col-md-6 form__col">
												<div class="input input--icon input--password">
													<input type="password" class="input__field jsInput jsInputPasswordEq jsInputPasswordEq--2" required>
													<div class="input__placeholder">Повторите пароль *</div>
													<svg class="icon icon--sm input__icon jsInputPasswordTrigger" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M6.59984 2.82666C7.05872 2.71924 7.52855 2.66555 7.99984 2.66666C12.6665 2.66666 15.3332 7.99999 15.3332 7.99999C14.9285 8.75706 14.4459 9.46981 13.8932 10.1267M9.41317 9.41332C9.23007 9.60982 9.00927 9.76743 8.76394 9.87674C8.51861 9.98605 8.25377 10.0448 7.98523 10.0496C7.71669 10.0543 7.44995 10.0049 7.20091 9.90432C6.95188 9.80373 6.72565 9.65401 6.53573 9.46409C6.34582 9.27418 6.1961 9.04795 6.09551 8.79892C5.99492 8.54988 5.94552 8.28314 5.95026 8.0146C5.955 7.74606 6.01378 7.48122 6.12309 7.23589C6.2324 6.99056 6.39001 6.76976 6.5865 6.58666M1.99984 2L13.9998 14M11.9598 11.96C10.8202 12.8287 9.43258 13.3099 7.99984 13.3333C3.33317 13.3333 0.666504 7.99999 0.666504 7.99999C1.49576 6.45459 2.64593 5.1044 4.03984 4.03999L11.9598 11.96Z" stroke="#B8B8B8" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
													<svg class="icon icon--sm input__icon jsInputPasswordTrigger" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M7.99984 2.66675C3.33317 2.66675 0.666504 8.00008 0.666504 8.00008C0.666504 8.00008 3.33317 13.3334 7.99984 13.3334C12.6665 13.3334 15.3332 8.00008 15.3332 8.00008C15.3332 8.00008 12.6665 2.66675 7.99984 2.66675Z" stroke="#B8B8B8" stroke-linecap="round" stroke-linejoin="round"></path>
													</svg>
													<div class="input__error">
														Описание ошибки и способы ее исправить
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="form__footer mb-5">
										<div class="row form__row align-items-center">
											<div class="col-12 col-md-6 form__col mb-3 mb-md-0">
												<label class="checkbox form__checkbox">
													<input type="checkbox" class="checkbox__input jsFormCheckBox" required="" checked="">
														<span class="checkbox__custom"></span>
														<span class="text--color--graphite checkbox__text">
														Согласие на обработку персональных данных
													</span>
												</label>
											</div>
											<div class="col-12 col-md-6 form__col">
												<button class="button w-100 jsFormSubmitBtn">
													<span class="button__text">
														Регистрация
													</span>
												</button>
											</div>
										</div>
									</div>
									
									<div class="form__notice pt-5">
										<span class="text text--sm text--color--gray-4">
											У Вас уже есть аккаунт?
										</span>
										<a href="#" class="link link--color--blue text--sm">
											<span class="link__text">  Войти
											</span>
										</a>
									</div>
								</div>
							</div>
							
						</form>
					</div>
				</section>
			</div>
			@@include("../blocks/modules/footer/footer.html")
		</main>
		
		@@include("../blocks/modules/modal/modal.html")

		<!--js	-->
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
