<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Index</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	    <link rel="stylesheet" href="styles/main.css">
    </head>
    <body class="body">

		<div class="container py-5">
			<div class="row mb-5">
				<div class="col-3">
					<div class="row mb-5">
						<div class="col-12 mb-4">
							<h1>Заголовоки</h1>
						</div>
						<div class="col-12 mb-2">
							<div class="h1">
								Заголовок 1
							</div>
						</div>
						<div class="col-12 mb-2">
							<div class="h2">
								Заголовок 2
							</div>
						</div>
						<div class="col-12 mb-2">
							<div class="h3">
								Заголовок 3
							</div>
						</div>
						<div class="col-12 mb-2">
							<div class="h4">
								Заголовок 4
							</div>
						</div>
						<div class="col-12 mb-2">
							<div class="h5">
								Заголовок 5
							</div>
						</div>
					</div>
				</div>
				<div class="col-9">
					<div class="row">
						<div class="col-12 mb-4">
							<h1>Текст</h1>
						</div>
						<div class="col-12 mb-3">
							<div class="text text--xxl">
								.text--xxl - 22px <br>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, doloremque ducimus fugit ipsa laboriosam porro quas quisquam repellendus sapiente totam!
							</div>
						</div>
						<div class="col-12 mb-3">
							<div class="text text--xl">
								.text--xl - 20px <br>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, doloremque ducimus fugit ipsa laboriosam porro quas quisquam repellendus sapiente totam!
							</div>
						</div>
						
						<div class="col-12 mb-3">
							<div class="text text--lg">
								.text - 18px <br>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, doloremque ducimus fugit ipsa laboriosam porro quas quisquam repellendus sapiente totam!
							</div>
						</div>
						<div class="col-12 mb-3">
							<div class="text text--md">
								.text--md - 16px <br>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, doloremque ducimus fugit ipsa laboriosam porro quas quisquam repellendus sapiente totam!
							</div>
						</div>
						<div class="col-12 mb-3">
							<div class="text text--sm">
								.text--sm - 14px <br>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, doloremque ducimus fugit ipsa laboriosam porro quas quisquam repellendus sapiente totam!
							</div>
						</div>
						<div class="col-12 mb-3">
							<div class="text text--xs">
								.text--xs - 12px <br>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, doloremque ducimus fugit ipsa laboriosam porro quas quisquam repellendus sapiente totam!
							</div>
						</div>
						<div class="col-12 mb-3">
							<div class="text text--bold">
								.text--bold  <br>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, doloremque ducimus fugit ipsa laboriosam porro quas quisquam repellendus sapiente totam!
							</div>
						</div>
						<div class="col-12 mb-3">
							<div class="text text--color--main">
								.text--color--main
							</div>
						</div>
						<div class="col-12 mb-3">
							<div class="text text--color--blue">
								.text--color--blue
							</div>
						</div>
						<div class="col-12 mb-3">
							<div class="text text--color--gray">
								.text--color--gray
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-3">
					<div class="row mb-5">
						<div class="col-12 mb-3">
							<h2 >Ссылки</h2>
						</div>
						<div class="col-12 mb-2">
							<a href="#">Без класса</a>
						</div>
						<div class="col-12 mb-2">
							<a href="#" class="link">
								<span class="link__text">
									.link
								</span>
							</a>
						</div>
						<div class="col-12 mb-2">
							<a href="#" class="link link--color--blue">
								<span class="link__text">
									.link--color--blue
								</span>
							</a>
						</div>
						<div class="col-12 mb-2">
							<a href="#" class="link link--color--gray">
								<span class="link__text">
									.link--color--gray
								</span>
							</a>
						</div>
						<div class="col-12 mb-2">
							<a href="#" class="link link--color--blue link--icon link--icon--left ">
								<svg class="icon icon--blue icon--lg link__icon">
									<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
								</svg>
								<span class="link__text">
									.link--icon
								</span>
							</a>
						</div>
						<div class="col-12 mb-2">
							<a href="#" class="link link--icon ">
								<span class="link__text">
									.link--icon
								</span>
								<svg class="icon icon--blue icon--lg link__icon">
									<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
				
				<div class="col-8">
					<div class="row">
						<div class="col-12 mb-3">
							<h2>Buttons</h2>
						</div>
						<div class="row">
							<div class="col-6 mb-4">
								<div class="col-12 mb-2">
									<a href="#" class="button">
										<span class="button__text">
											Button ссылка
										</span>
									</a>
									<button class="button">
										<span class="button__text">
											Button Button
										</span>
									</button>
								</div>
								<div class="col-12 mb-2">
									<a href="#" class="button button--icon">
										<span class="button__text">
											button button--icon
										</span>
										<svg class="icon icon--white icon--lg button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</a>
								</div>
								<div class="col-12 mb-2">
									<button class="button button--border">
										<span class="button__text">
											Button button--border
										</span>
									</button>
								</div>
								<div class="col-12 mb-2">
									<button class="button button--border button--icon">
									<span class="button__text">
										Button button--border
									</span>
										<svg class="icon icon--pink icon--lg button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</button>
								</div>
								<div class="col-12 mb-2">
									<a href="#" class="button button--square">
										<svg class="icon icon--white icon--lg button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</a>
									<a href="#" class="button button--border button--square">
										<svg class="icon icon--pink icon--lg button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</a>
								</div>
							</div>
							<div class="col-6 mb-4">
								<div class="col-12 mb-2">
									<button class="button button--blue">
										<span class="button__text">
											Button button--blue
										</span>
									</button>
								</div>
								<div class="col-12 mb-2">
									<button class="button button--blue button--icon">
										<span class="button__text">
											Button button--blue
										</span>
										<svg class="icon icon--white icon--lg button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</button>
								</div>
								<div class="col-12 mb-2">
									<button class="button button--border button--border--blue  button--icon">
										<span class="button__text">
											Button button--blue
										</span>
										<svg class="icon icon--blue icon--lg button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</button>
								</div>
								<div class="col-12 mb-2">
									<button class="button button--border button--border--blue">
										<span class="button__text">
											Button button--border--blue
										</span>
									</button>
								</div>
								<div class="col-12 mb-2">
									<a href="#" class="button button--blue button--square">
										<svg class="icon icon--white icon--lg button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</a>
									<a href="#" class="button button--border button--border--blue button--square">
										<svg class="icon icon--blue icon--lg button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</a>
								</div>
							</div>
							<div class="col-6">
								<div class="col-12 mb-2">
									<a href="#" class="button button--disabled">
										<span class="button__text">
											 ссылка button--disabled
										</span>
									</a>
								</div>
								<div class="col-12 mb-2">
									<button class="button" disabled>
										<span class="button__text">
											Button disabled
										</span>
									</button>
								</div>
								<div class="col-12 mb-2">
									<button class="button button--disabled button--border button--border--disabled">
										<span class="button__text">
											Button disabled
										</span>
									</button>
								</div>
								<div class="col-12 mb-2">
									<button class="button button--icon button--disabled button--border button--border--disabled">
										<span class="button__text">
											Button disabled
										</span>
										<svg class="icon icon--gray icon--lg button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</button>
								</div>
								<div class="col-12 mb-2">
									<a href="#" class="button button--disabled button--square">
										<svg class="icon icon--white icon--lg button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</a>
									<a href="#" class="button button--disabled button--border button--border--disabled button--square">
										<svg class="icon icon--gray icon--lg button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</a>
								</div>
							</div>
							<div class="col-6">
								<div class="col-12 mb-2">
									<button class="button button--gray">
										<span class="button__text">
											Button button--gray
										</span>
									</button>
								</div>
								<div class="col-12 mb-2">
									<button class="button button--gray button--icon">
										<span class="button__text">
											Button button--gray
										</span>
										<svg class="icon icon--lg button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</button>
								</div>
								<div class="col-12 mb-2">
									<button class="button button--gray button--square">
										<svg class="icon icon--lg button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<div class="col-12 mt-5 mb-3">
									<h2>Button --md</h2>
								</div>
								<div class="col-12 mb-2">
									<a href="#" class="button button--md">
											<span class="button__text">
												button--md
											</span>
									</a>
								</div>
								<div class="col-12 mb-2">
									<a href="#" class="button button--icon button--md">
											<span class="button__text">
												button button--icon
											</span>
										<svg class="icon icon--white icon--md button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</a>
								</div>
								<div class="col-12">
									<a href="#" class="button button--square button--md">
										<svg class="icon icon--white icon--md button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</a>
								</div>
							</div>
							
							<div class="col-4">
								<div class="col-12 mt-5 mb-3">
									<h2>Button --sm</h2>
								</div>
								<div class="col-12 mb-2">
									<a href="#" class="button button--sm">
											<span class="button__text">
												button--sm
											</span>
									</a>
								</div>
								<div class="col-12 mb-2">
									<a href="#" class="button button--icon button--sm">
											<span class="button__text">
												button button--icon
											</span>
										<svg class="icon icon--white icon--sm button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</a>
								</div>
								<div class="col-12">
									<a href="#" class="button button--square button--sm">
										<svg class="icon icon--white icon--sm button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</a>
								</div>
							</div>
							
							<div class="col-4">
								<div class="col-12 mt-5 mb-3">
									<h2>Button --icon</h2>
								</div>
								<div class="col-12 mb-2">
									<a href="#" class="button button--icon button--icon--left">
										<svg class="icon icon--white icon--lg button__icon button__icon--left">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
										<span class="button__text">
											button button--icon
										</span>
										<svg class="icon icon--white icon--lg button__icon">
											<use xlink:href="img/sprites/sprite.svg#logo-usage"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-12">
					Поля
				</div>
				<div class="col-3">
					<h2 class="mb-3">Input</h2>
					<div class="input mb-3">
						<input type="text" class="input__field jsInput">
						<div class="input__placeholder">Placeholder</div>
					</div>
					<div class="input is-changed mb-3">
						<input type="text" class="input__field jsInput" value="Заполнено">
						<div class="input__placeholder">Placeholder</div>
					</div>
					<div class="input mb-3">
						<input type="text" class="input__field jsInput" disabled>
						<div class="input__placeholder">Disabled</div>
					</div>
					<div class="input is-error mb-3">
						<input type="text" class="input__field jsInput">
						<div class="input__placeholder">Placeholder</div>
						<div class="input__error">
							Описание ошибки и способы ее исправить
						</div>
					</div>
				</div>
				
				<div class="col-3">
					<h3 class="mb-3">checkbox</h3>
					<label class="checkbox form__checkbox">
						<input type="checkbox" class="checkbox__input" required checked>
						<span class="checkbox__custom"></span>
						<span class="text--color--graphite checkbox__text">
							Согласие на обработку персональных данных
						</span>
					</label>
					
					<h3 class="mb-3 mt-3">radio-btn</h3>
					<div>
						<label class="radio-btn">
							<input type="radio" class="radio-btn__input" name="radio" checked>
							<span class="radio-btn__custom"></span>
							<span class="radio-btn__text">
								Физ. лицо <br>
							</span>
						</label>
						
						
						<label class="radio-btn">
							<input type="radio" class="radio-btn__input" name="radio">
							<span class="radio-btn__custom"></span>
							<span class="radio-btn__text">
								Юр. лицо
							</span>
						</label>
					</div>
				</div>
			</div>
			
			
			
			<div class="row">
				<div class="col-12 mb-3">
					<h2>Icons</h2>
				</div>
				<div class="col-2 mb-5">
					
					<div>
						<h3 class="mb-2">
							icon icon--xl - 40px
						</h3>
						<svg class="icon icon--xl">
					        <use xlink:href="img/sprites/sprite.svg#brend-usage"></use>
				        </svg>
					</div>
				</div>
				<div class="col-2 mb-5">
					<div>
						<h3 class="mb-2">
							icon icon--lg - 24px
						</h3>
						<svg class="icon icon--lg icon--pink">
					        <use xlink:href="img/sprites/sprite.svg#brend-usage"></use>
				        </svg>
					</div>
				</div>
				<div class="col-2 mb-5">
					<div>
						<h3 class="mb-2">
							icon icon--md - 20px
						</h3>
						<svg class="icon icon--md">
					        <use xlink:href="img/sprites/sprite.svg#brend-usage"></use>
				        </svg>
					</div>
				</div>
				<div class="col-2 mb-5">
					<div>
						<h3 class="mb-2">
							icon icon--sm - 16px
						</h3>
						<svg class="icon icon--sm">
					        <use xlink:href="img/sprites/sprite.svg#brend-usage"></use>
				        </svg>
					</div>
				</div>
				<div class="col-2 mb-5">
					<div>
						<h3 class="mb-2">
							icon icon--xs - 12px
						</h3>
						<svg class="icon icon--xs">
					        <use xlink:href="img/sprites/sprite.svg#brend-usage"></use>
				        </svg>
					</div>
				</div>
			</div>
		</div>

        
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
