.thread-choose {
	// .thread-choose__controls
	&__controls {
		padding: rem(16) 0;
		align-items: center;
		display: flex;
		justify-content: space-between;

		@include below(910px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: rem(24);
			align-items: center;
		}
		@include below(575px) {
			column-gap: rem(16);
		}
		@include below(423px) {
			grid-template-columns: 1fr;
			row-gap: rem(8);
		}
	}

	// .thread-choose__search
	&__search {
	}

	// .thread-choose__sorting
	&__sorting {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		flex-grow: 1;
	}

	// .thread-choose__sorting-title
	&__sorting-title {
		margin-right: rem(24);

		@include below(910px) {
			display: none;
		}
	}

	// .thread-choose__select
	&__select {
	}

	// .thread-choose__inner
	&__inner {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		column-gap: rem(24);
		row-gap: rem(32);

		@include below(1199px) {
			column-gap: rem(16);
			row-gap: rem(24);
		}

		@include below(1023px) {
			grid-template-columns: repeat(4, 1fr);
		}
		@include below(575px) {
			grid-template-columns: repeat(3, 1fr);
			column-gap: rem(8);
			row-gap: rem(16);
		}
	}

	// .thread-choose__item
	&__item {
	}
}

.search-thread {
	border-radius: rem(4);
	position: relative;
	border: 1px solid $gray-2;
	width: 100%;
	max-width: rem(304);

	// .search-thread__button
	&__button {
		position: absolute;
		background-color: transparent;
		height: rem(42);
		width: rem(44);
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		right: 0;
		font-size: rem(14);
		color: rgba(0, 0, 0, 0.5);
	}

	// .search-thread__input
	&__input {
		width: 100%;
		background-color: transparent;
		border-radius: rem(3);
		height: rem(42);
		color: $mainColor;
		padding: 0px rem(30) 0px rem(12);

		&::placeholder {
			color: $dark;
		}
	}

	@include below(910px) {
		max-width: none;
	}
}

.item-thread {
	position: relative;
	// .item-thread__code
	&__code {
		font-size: 14px;
	}

	// .item-thread__content
	&__content {
	}

	// .item-thread__img
	&__img {
		height: rem(72);
		width: 100%;
		border-radius: 4px;
	}

	// .item-thread__to-cart
	&__to-cart {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $white;
		border-radius: rem(4);
		font-size: rem(12);
		line-height: 1.3;
		white-space: nowrap;
		padding: 4px 6px 4px 24px;
		cursor: pointer;
		transition: color .2s linear;
		.item-thread:not(.is-in-cart):hover & {
			display: block;

		}
		&:hover {
			color: $main-color;
		}
	}

	// .item-thread__to-cart-text
	&__to-cart-text {
		position: relative;

		&::after {
			@extend %ic;
			position: absolute;
			content: '\e904';
			left: rem(-5);
			top: 50%;
			transform: translate(-100%, -50%);
			color: $main-color;
			font-size: 14px;
		}

	}

	// .item-thread__in-cart
	&__in-cart {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $white;
		border-radius: rem(4);
		font-size: rem(12);
		line-height: 16px;
		padding: 4px 6px 4px 24px;
		white-space: nowrap;

		.item-thread.is-in-cart & {
			display: block;
		}


	}

	// .item-thread__in-cart
	&__in-cart-text {
		position: relative;
		&::before {
			@extend %ic;
			content: '\e901';
			font-size: 14px;
			color: $main-color;
			position: absolute;
			left: rem(-3);
			top: rem(2);
			transform: translateX(-100%);
		}
	}

	// .item-thread__status
	&__status {
		&.available {
			color: $status-available;
		}
		&.delivery {
			color: $status-delivery;
		}
	}

	// .item-thread__status-text
	&__status-text {
		font-size: 14px;
		&::before {
			font-size: 8px;
			margin-right: 7px;
			margin-left: 2px;
			//margin-bottom: 2px;
			vertical-align: middle;
		}
	}
}
