.reviews {
	// .reviews__new
	&__new {
	}

	// .reviews__header
	&__header {
		display: flex;

		@include below(600px) {
		flex-wrap: wrap;

		}

		.text {
			margin-bottom: 16px;
			@include above(601px) {
				margin-right: 64px;
				margin-bottom: 0;
			}
		}
	}

	// .reviews__inner
	&__inner {
	}

	// .reviews__item
	&__item {
	}

	.button {
		flex-shrink: 0;

		@include below(600px) {
			width: 100%;
		}
	}
}

.reviews-form {

	@include above(601px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 16px;
		align-items: center;

		.wide {
			grid-column: 1/3;
		}

		.button {
			justify-self: end;

			@include below(600px) {
				width: 100%;
			}
		}
	}

	@include below(600px) {
		.button {
			width: 100%;
		}
	}

	textarea {
		min-height: 112px;
		padding-top: 15px;

		& + .input__placeholder {
			top: 25px;
		}
	}


	.input__placeholder {
		color: $gray-1;
	}


	// .reviews-form__wrapper
	&__wrapper {
		// display: none;
		padding: 64px;
		background-color: $gray-3;

		@include below(1023px) {
			padding: 32px;
		}

		@include below(423px) {
			padding: 16px;
		}
	}

	// .reviews-form__title
	&__title {
	}

}

.reviews-item {
	background-color: $gray-3;
	padding: 64px;
	border-radius: 4px;
	display: flex;
	margin-bottom: 32px;

	@include below(1200px) {
		padding: 32px;
	}

	@include below(1023px) {
		flex-direction: column;
	}

	@include below(600px) {
		padding: 16px;
	}

	// .reviews-item__info
	&__info {
		padding-right: 56px;
		margin-right: 56px;
		border-right: 1px solid $gray-2;
		width: 300px;
		flex-shrink: 0;

		@include below(1023px) {
			width: 100%;
			padding-right: 0;
			margin-right: 0;
			border-right: 0;
			padding-bottom: 16px;
			margin-bottom: 16px;
			border-bottom: 1px solid $gray-2;
			display: flex;
			flex-wrap: wrap;
		}
	}

	// .reviews-item__name
	&__name {
		font-weight: 700;
		font-size: 18px;
		margin-bottom: 4px;
		width: 100%;
	}

	// .reviews-item__rating
	&__rating {
		margin-bottom: 8px;
		width: 100%;
	}

	// .reviews-item__company
	&__company {
		margin-bottom: 4px;
		width: 100%;
	}

	// .reviews-item__city
	&__city {
		margin-bottom: 4px;
		@include below(1023px) {
			width: 50%;
		}
	}

	// .reviews-item__date
	&__date {
		@include below(1023px) {
			width: 50%;
			text-align: right;
		}
	}

	// .reviews-item__inner
	&__inner {
		// p + p {
		// 	margin-top: 24px;
		// }
		p:not(:last-of-type) {
			padding-bottom: 24px;
		}
	}

	// .reviews-item__show-more
	&__show-more {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 12px;
		border: 1px solid $gray-2;
		border-radius: 4px;
		margin-top: 32px;
		cursor: pointer;
		transition: all 0.2s linear;

		&:hover {
			border-color: $gray-1;
			svg {
				transform: translateY(-1px);
				transition: all 0.2s linear;
			}
		}

		// ._showmore-active & {
		// 	svg {
		// 		transform: rotate(180deg);
		// 		transition: all 0.2s linear;
		// 	}
		// }
	}
}
