.color-choose {
	// .color-choose__controls
	&__controls {
		padding: 16px 0;
	}

	// .color-choose__search
	&__search {
	}

	// .color-choose__sorting
	&__sorting {
	}

	// .color-choose__sorting-title
	&__sorting-title {
	}

	// .color-choose__heading
	&__heading {
		display: grid;
		grid-template-columns: 5fr repeat(5, 2fr);
		padding: 16px 0;
	}

	// .color-choose__heading-item
	&__heading-item {
		font-weight: 700;
	}

	// .color-choose__inner
	&__inner {
	}

	// .color-choose__item
	&__item {
	}
}

.search-color {
		//background-color: rgba(7, 7, 7, 0.03);
		border-radius: rem(3);
		position: relative;
		border: 1px solid rgba(4, 4, 4, 0.5);
		@media (min-width: $tablet) {
			max-width: rem(377);
		}

	// .search-color__button
	&__button {
		position: absolute;
		background-color: transparent;
		height: rem(41);
		width: rem(41);
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: rem(8);
		font-size: rem(14);
		color: rgba(0, 0, 0, 0.5);
	}
	// .search-color__input
	&__input {
		width: 100%;
		background-color: transparent;
		border-radius: rem(3);
		height: rem(41);
		color: $mainColor;
		padding: 0px rem(20) 0px rem(50);
		&::placeholder {
			color: rgba(0, 0, 0, 0.5);
		}
	}
}

.item-color {
	display: grid;
	grid-template-columns: 5fr repeat(5, 2fr);
	padding: 16px 0 24px 0;
	border-top: 1px solid $gray-2;
	// .item-color__title
	&__title {
		display: grid;
		grid-template-columns: 56px 1fr;
		grid-template-rows: repeat(3, 1fr);
		column-gap: 16px;
	}

	// .item-color__img
	&__img {
		width: 56px;
		height: 56px;
		border: 1px solid $gray-2;
		border-radius: 4px;grid-row: 1 / 4;
		align-content: center;
	}

	// .item-color__code
	&__code {
		color: $gray-1;
		font-size: 14px;
		line-height: em(16, 14);
	}

	// .item-color__name
	&__name {
		line-height: 1;
	}

	// .item-color__availability
	&__availability {
		line-height: 16px;
		font-size: 14px;

		&.delivery {
			color: $status-delivery;
		}
		&.available {
			color: $status-available;
		}
		&.order {
			color: $status-order;
		}
	}

	// .item-color__width
	&__width {
		align-self: center;
	}

	// .item-color__length
	&__length {
		align-self: center;
	}

	// .item-color__meter-price
	&__meter-price {
		align-self: center;
	}

	// .item-color__roll-price
	&__roll-price {
		align-self: center;
		display: flex;
		align-items: center;
	}

	// .item-color__roll-price-tip
	&__roll-price-tip {
		margin-left: 4px;
		margin-bottom: 3px;
	}

	// .item-color__roll-price-info
	&__roll-price-info {
		display: none;
	}
	// .item-color__btn
	&__btn {
		justify-self: end;
		width: 154px;
		margin-top: 10px;
	}
}

.color-choose {

}