.color-choose {
	// .color-choose__controls
	&__controls {
	}

	// .color-choose__search
	&__search {
	}

	// .color-choose__sorting
	&__sorting {
	}

	// .color-choose__sorting-title
	&__sorting-title {
	}

	// .color-choose__heading
	&__heading {
	}

	// .color-choose__heading-item
	&__heading-item {
	}

	// .color-choose__inner
	&__inner {
	}

	// .color-choose__item
	&__item {
	}
}

.search-header {
	// .search-header__button
	&__button {
	}

	// .search-header__input
	&__input {
	}
}

.item-color {
	// .item-color__title
	&__title {
	}

	// .item-color__img
	&__img {
		width: 56px;
		height: 56px;
		background-color: #70b2e2;
		border-radius: 4px;
	}

	// .item-color__code
	&__code {
	}

	// .item-color__name
	&__name {
	}

	// .item-color__availability
	&__availability {
	}

	// .item-color__width
	&__width {
	}

	// .item-color__length
	&__length {
	}

	// .item-color__meter-price
	&__meter-price {
	}

	// .item-color__roll-price
	&__roll-price {
	}
}

