.color-choose {
	// .color-choose__controls
	&__controls {
		padding: 16px 0;
		align-items: center;
		display: grid;
		grid-template-columns: 5fr 10fr;

		@include below(930px) {
			grid-template-columns: 1fr 3fr;
			column-gap: rem(24);
		}

		@include below($mobile) {
			grid-template-columns: 1fr 142px;
		}
	}

	// .color-choose__search
	&__search {
	}

	// color-choose__select
	&__select {
		margin-right: 24px;

		@include below($mobile) {
		}
	}

	// .color-choose__sorting-wrap
	&__sorting-wrap {
		@include below($mobile) {
			display: none;
			//display: flex;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($dark, .5);
			z-index: 1;
			justify-content: center;
			align-items: center;

			&.is-open {
				display: flex;
			}
		}

	}

	// color-choose__sorting-toggler
	&__sorting-toggler {
		border: 1px solid $gray-2;
		border-radius: 4px;
		height: 44px;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			margin-left: 9px;
		}
	}

	// .color-choose__sorting
	&__sorting {
		align-items: center;
		display: flex;
		justify-content: flex-end;

		@include below($mobile) {
			flex-direction: column;
			background-color: $white;
			padding: 24px;
			width: 100%;
			max-width: 376px;
			border-radius: 4px;
		}
	}

	// .color-choose__sorting-title
	&__sorting-title {
		margin-right: rem(24);

		@include below(1080px) {
			display: none;
		}
		@include below($mobile) {
			display: block;
			margin-bottom: 24px;
			width: 100%;
			margin-right: 0;
		}
	}

	// .color-choose__submit
	&__submit {
		background-color: $blue;
		color: $white;
	}

	// .color-choose__heading
	&__heading {
		display: grid;
		grid-template-columns: 5fr repeat(5, 2fr);
		padding: 16px 0;
		column-gap: rem(16);

		@include below($mobile) {
			grid-template-columns: 5fr 2fr 3fr 2fr;
		}
		@include below(550px) {
			display: none;
		}
	}

	// .color-choose__heading-item
	&__heading-item {
		font-weight: 700;
		display: none;

		br {
			display: none;
			@include below(1023px) {
				display: block;
			}
		}
	}

	// .color-choose__inner
	&__inner {
	}

	// .color-choose__item
	&__item {
	}
}

.search-color {
	//background-color: rgba(7, 7, 7, 0.03);
	border-radius: rem(4);
	position: relative;
	border: 1px solid $gray-2;
	max-width: rem(230);
	//@media (min-width: $tablet) {
	//}

	@include below($mobile) {
		max-width: none;
	}

	// .search-color__button
	&__button {
		position: absolute;
		background-color: transparent;
		height: rem(44);
		width: rem(44);
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		right: 0;
		font-size: rem(14);
		color: rgba(0, 0, 0, 0.5);
	}

	// .search-color__input
	&__input {
		width: 100%;
		background-color: transparent;
		border-radius: rem(3);
		height: rem(44);
		color: $mainColor;
		padding: 0px rem(30) 0px rem(20);

		&::placeholder {
			color: $dark;
		}
	}
}

.item-color {
	display: grid;
	grid-template-columns: 5fr repeat(5, 2fr);
	padding: 16px 0 24px 0;
	border-top: 1px solid $gray-2;
	column-gap: rem(16);
	@include below($mobile) {
		grid-template-columns: 5fr 2fr 3fr 2fr;
		grid-template-rows: 1fr 1fr;
	}
	@include below(550px) {
		&:first-child {
			border-top: none;
		}
		display: block;
		position: relative;
		padding-bottom: 16px;
	}
	// .item-color__title
	&__title {
		display: grid;
		grid-template-columns: 56px 1fr;
		row-gap: 2px;
		column-gap: 16px;
		@include below($mobile) {
			grid-template-columns: rem(32) 1fr;
			grid-row: 1/3;
		}
		@include below(550px) {
			grid-template-columns: rem(36) 1fr;
		grid-template-rows: 16px 1fr;
		}
	}

	// .item-color__img
	&__img {
		width: 56px;
		height: 56px;
		border: 1px solid $gray-2;
		border-radius: 4px;
		grid-row: 1 / 4;
		align-content: center;

		@include below($mobile) {
			width: rem(32);
		}

		@include below(550px) {
			width: 36px;
			height: 36px;
		}
	}

	// .item-color__code
	&__code {
		color: $gray-1;
		font-size: 14px;
		line-height: em(16, 14);
	}

	// .item-color__name
	&__name {
		line-height: 1;
		//overflow: hidden;
		//white-space: nowrap;
		//text-overflow: ellipsis;
	}

	// .item-color__availability
	&__availability {
		line-height: 16px;
		font-size: 14px;

		&.delivery {
			color: $status-delivery;
		}

		&.available {
			color: $status-available;
		}

		&.order {
			color: $status-order;
		}

		@include below(550px) {
			position: absolute;
			bottom: 30px;
			left: 0;
		}
	}

	// .item-color__row {
	&__row {
		@include below(550px) {
			display: flex;
			align-items: flex-end;
			margin-top: 12px;
		}
	}
	// .item-color__option
	&__option {
		@include above(551px) {
			display: none;
		}
	}
	// .item-color__divider
	&__divider {
		flex-grow: 1;
		border-bottom: 1px dotted $gray;
		margin-bottom: 3px;
		@include above(551px) {
			display: none;
		}
	}

	// .item-color__width
	&__width {
		align-self: center;

		@media (max-width: $mobile) and (min-width: 550px) {
			&::before {
				content: 'Ш: ';
				color: $gray-1;
			}
		}
		@include below($mobile) {
			grid-column: 2/3;
			grid-row: 1/2;
			align-self: end;
			font-size: 14px;
		}
	}

	// .item-color__length
	&__length {
		align-self: center;
		@media (max-width: $mobile) and (min-width: 550px) {
			&::before {
				content: 'Д: ';
				color: $gray-1;
			}
		}
		@include below($mobile) {
			grid-column: 2/3;
			grid-row: 2/3;
			align-self: start;
			font-size: 14px;
		}
	}

	// .item-color__meter-price
	&__meter-price {
		align-self: center;
		@media (max-width: $mobile) and (min-width: 550px) {
			&::after {
				content: '/м';
			}
		}
		@include below($mobile) {
			grid-column: 3/4;
			grid-row: 1/2;
			align-self: end;
			font-size: 14px;
		}
	}

	// .item-color__roll-price
	&__roll-price {
		align-self: center;
		@media (max-width: $mobile) and (min-width: 550px) {
			span::after {
				content: '/рул';
			}
		}
		@media (max-width: $mobile) {
			grid-column: 3/4;
			grid-row: 2/3;
			align-self: start;
			font-size: 14px;
		}
	}

	// .item-color__roll-price-tip
	&__roll-price-tip {
		top: 2px;
		margin-left: 1px;
		display: inline-flex;
		cursor: pointer;
		position: relative;

		@include below(550px) {
			display: none;
		}
	}

	// .item-color__roll-price-info
	&__roll-price-info {
		display: none;
	}

	&__roll-price-tip:hover .item-color__roll-price-info {
		position: absolute;
		left: 0;
		bottom: 100%;
		display: block;
		width: 200px;
		background-color: $white;
		padding: 15px;
		border-radius: 4px;
		filter: drop-shadow(0px 12px 25px rgba(19, 48, 80, 0.08));
	}

	// .item-color__buttons
	&__buttons {
		justify-self: end;
		margin-top: 10px;
			display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;

			.item-color__analog {
				margin-bottom: -12px;
				transition: color .2s linear;
				font-size: 14px;

				&:hover {
					@media (hover: hover) {
						color: $blue;
					}
				}
			}
		&--with-analog {
			margin-top: 0;
			.item-color__btn {
				height: 36px;
			}
		}
		@include below($mobile) {
			grid-row: 1/3;
		}

		@include below(550px) {
			flex-direction: row-reverse;
			justify-content: flex-start;
			.item-color__analog {
				margin-bottom: 0;
				margin-top: 0;
			}
			.item-color__btn {
				height: 44px;
				margin-top: 10px;
				margin-left: 12px;
				font-size: 14px;
				padding-left: 16px;
				padding-right: 16px;
				width: auto;
				max-width: unset;
			}
		}
	}

	// .item-color__btn
	&__btn {
		width: 100%;
		max-width: 154px;

	}
}
