.tabs {
	&__btns {
		display: flex;
		margin-bottom: 16px;
		width: 100%;
		border-bottom: 1px solid rgba($dark, 0.2) ;
	}

	&__btn {
		position: relative;
		cursor: pointer;
		padding-bottom: 8px;
		margin-right: 12px;

		&:last-of-type {
			margin-right: 0;
		}

		&:before {
			content: '';
			position: absolute;
			bottom: -1px;
			left: 0;
			right: 0;
			height: 2px;
			background-color: $blue;
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		&.is-active {
			&:before {
				opacity: 1;
			}
		}

		&:hover {
			@media (hover: hover) {
				&:before {
					opacity: 1;
				}
			}
		}
	}

	&__item {
		display: none;

		&.is-active {
			display: block;
			animation: tabAnim linear 0.3s forwards;
		}
	}


	&__btns--another &__btn:not(.is-active) {
		color: $gray-4;
		opacity: 0.5;
	}
}
