.product {
	&__inner {
		grid-template:
			'code code code'
			'hero info control'
			'tabs tabs tabs';
		//max-width: calc(100vw - 16px);
		width: 100%;
		display: grid;
		grid-column-gap: 32px;
		grid-template-rows: repeat(3, min-content);
		grid-template-columns: percent(528, 1312) repeat(2, 1fr);

		@include below(1260px) {
			grid-template-columns: percent(464, 1400) repeat(2, 1fr);
		}
		@include below(1200px) {
			grid-template-areas:
				'code code code'
				'hero control info'
				'tabs tabs tabs';
			column-gap: 16px;
		}
		@include below(1100px) {
			grid-template-columns: 227px repeat(2, 1fr);
		}
		@include below(960px) {
			grid-template:
				'code code'
				'hero control'
				'info control'
				'tabs tabs';
			grid-template-columns: repeat(2, minmax(40%, 1fr));
			grid-template-rows: min-content 412px 88px min-content;
		}
		@include below(680px) {
			display: block;
		}
	}

	&__code {
		grid-area: code;
		color: $gray-6;
	}

	&__hero {
		grid-area: hero;
	}

	&__info {
		grid-area: info;
	}

	&__control-panel {
		grid-area: control;
	}

	&__tabs {
		grid-area: tabs;
	}
}
