.breadcrumbs {

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 20px -7px -7px;
		scrollbar-color: $gray-2;
		scrollbar-width: thin;

		&::-webkit-scrollbar {
			height: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $gray-2;
			border: 3px solid $gray-2;
			border-radius: 20px;
		}

		@include below(768px) {
			flex-wrap: nowrap;
			overflow-x: auto;
			padding: 0 8px;
		}
	}

	&__item {
		padding-left: 7px;
		padding-right: 7px;
		margin-bottom: 7px;
		position: relative;
		white-space: nowrap;

		&:after {
			content: '›';
			position: absolute;
			right: -3px;
			top: 0;
			color: $gray-6;

			@include below(768px) {
				top: 4px;
				right: -10px;
			}
		}

		&:last-of-type {
			&:after {
				display: none;
			}
		}

		@include below(768px) {
			padding: 4px 8px;
			border-radius: 4px;
			border: 1px solid $gray-2;
			display: inline-block;

			&:not(:last-child) {
				margin-right: 12px;
			}
		}
	}

	&__link {
		text-decoration: none;
		color: $gray-6;
		font-size: 14px;
	}
}

a.breadcrumbs__link {
	&:hover {
		color: $blue;
	}
}
