.analog {

	// .analog__item
	&__item {
		display: flex;
		border: 1px solid $gray-2;
		padding: 16px;
		align-items: center;

		&:first-child {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
		&:last-child {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}
		&:not(:last-child) {
			border-bottom-width: 0;
		}

		@include below(574px) {
			flex-direction: column;
			padding: 12px;
			border-radius: 4px;
			&:not(:last-child) {
				margin-bottom: 16px;
				border-bottom-width: 1px;
			}
		}
	}

	// .analog__title
	&__title {
		display: flex;
		flex-grow: 1;

		@include below(574px) {
			width: 100%;
			padding-bottom: 12px;
			margin-bottom: 12px;
			border-bottom: 1px solid $gray-3;
		}
	}

	// .analog__image
	&__image {
		width: 64px;
		height: 64px;
		border-radius: 4px;
		overflow: hidden;
		margin-right: 16px;
		flex-shrink: 0;
		img  {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .analog__text
	&__text {
		flex-grow: 1;
	}

	// .analog__name
	&__name {
		margin-bottom: 4px;
	}

	// .analog__code
	&__code {
		color: $gray-4;
		margin-bottom: 8px;
	}

	// .analog__status
	&__status {
		.available {
			color: $status-available;
		}
		.delivery {
			color: $status-delivery;
		}
		.order {
			color: $status-order;
		}
	}

	// .analog__properties
	&__properties {
	}

	// .analog__properties-title
	&__properties-title {
		width: 44px;
		margin-right: 8px;
		color: $gray-1;
	}

	// .analog__divider
	&__divider {
		display: none;

		@include below(574px) {
			display: block;
			flex-grow: 1;
			border-bottom: 1px dashed $gray;
			margin-bottom: 4px;
		}
	}

	// .analog__properties-value
	&__properties-value {
	}
}

.available {
}

.analog-properties {
	@include below(574px) {
		width: 100%;
	}
	// .analog-properties__list
	&__list {
		//padding-right: 55px;
		@include adaptiveValue("padding-right", 55, 0, 900, 574, 1);
	}

	// .analog-properties__item
	&__item {
		display: flex;

		@include below(574px) {
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
	}
}