.modal {
	&-content {
		position: relative;
		min-height: 100vh;
		background: #fff;
		border: none;
		border-radius: 0;
		box-shadow: 0 5px 25px rgb(19 48 80 / 25%);

		@include above(575px) {
			min-height: auto;
			border-radius: 4px;
		}
	}

	&-dialog {
		//width: 100%;
		//margin: 0;

		@include above(424px) {
			margin-top: 0;
			margin-bottom: 0;
		}

		@include above(575px) {
			margin-top: 20px;
			margin-bottom: 30px;
		}

		&--sm {
			@include above(576px) {
				max-width: 368px;
			}
		}

		&--md {
			@include above(424px) {
				max-width: 100%;
			}
			@include above(576px) {
				max-width: 533px;
			}
		}

		&--xl {
			@include above(424px) {
				max-width: 100%;
			}
			@include above(576px) {
				max-width: 663px;
			}
		}

		&--custom {
			@include above(424px) {
				max-width: 100%;
			}

			@include above(576px) {
				max-width: 663px;
			}
			@include above(1024px) {
				max-width: 368px;
			}
		}
	}

	&-body {
		padding-bottom: 0;
	}

	&-header {
		position: relative;
		padding: 12px;
		background: #f7f8fa;
		border: none;

		@include above(576px) {
			padding: 16px;
		}
	}

	&-footer {
		display: block;
		padding: 16px 32px 32px;
		border: none;

		& > * {
			margin: 0;
		}
	}

	&-close {
		position: absolute;
		top: 6px;
		right: 10px;
		z-index: 1;
		width: 30px;
		height: 30px;
		background: transparent;
		border: none;
		cursor: pointer;

		@include above(576px) {
			top: 12px;
		}
	}

	&-btn {
		margin: 0;
	}

	&--custom {
		@include above(1024px) {
			position: absolute;
			height: auto;
			margin-top: 20px;
			pointer-events: none;
		}

		.container {
			@include above(1024px) {
				display: flex;
				justify-content: flex-end;
				pointer-events: none;
			}

			@include below(1023px) {
				padding-right: 0;
				padding-left: 0;
			}
		}

		.modal-dialog {
			@include above(1024px) {
				margin-right: 0;
				margin-left: 0;
			}
		}
	}

	&-body__grid {
		display: flex;
		margin-right: -32px;
		margin-left: -32px;

		@include below(767px) {
			flex-wrap: wrap;
		}
	}

	&-body__col {
		padding-right: 32px;
		padding-left: 32px;
	}

	&-body__col--1 {
		display: none;

		@include below(1023px) {
			position: relative;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			align-items: flex-start;
		}

		@include below(767px) {
			width: 100%;
			margin-bottom: 32px;
			padding-bottom: 32px;
		}

		&::before {
			position: absolute;
			right: 0;
			width: 1px;
			height: 266px;
			background-color: $gray-2;
			content: '';

			@include below(767px) {
				top: 100%;
				right: 32px;
				left: 32px;
				width: auto;
				height: 1px;
			}
		}
	}

	&-body__col--2 {
		flex: 0 0 100%;

		@include below(1023px) {
			flex: 0 0 397px;
		}

		@include below(767px) {
			flex: 0 0 100%;
		}
	}

	&--review {
		.input-row {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 16px;

			@include below(550px) {
				grid-template-columns: 1fr;
			}
		}
		textarea {
			width: 100%;
			min-height: 110px;
			padding: 16px;

			& + .input__placeholder {
				top: 25px;
			}
		}
	}
}

.modal-backdrop--transparent {
	width: 0;
	height: 0;
	background-color: transparent !important;
	pointer-events: none !important;
}
