.header-catalog {
	padding-top: 16px;
	padding-bottom: 16px;

	&__list {
		display: flex;
		justify-content: space-between;

		@include below(1023px) {
			display: block;
			position: relative;
		}
	}

	&__item {

		@include below(1023px) {
			position: static;
		}

		.dropdown__body {
			margin-top: 10px;

			&:before {
				height: 13px;
			}


			@include below(1023px) {
				width: 100%;
				opacity: 1;
				pointer-events: auto;
				left: -120%;
				top: 0;
				bottom: 0;
				margin-top: 0;
				box-shadow: none;
				border: none;
				padding: 0;
				transition: left 0.3s ease;
				transform: none;
				display: block;

				&.is-active {
					left: 0;
				}
			}
		}

		.dropdown__item {
			@include below(1023px) {
				margin-bottom: 10px;
			}
		}

		.dropdown__link {
			font-size: 14px;

			@include below(1023px) {
				padding: 0;
				position: relative;
				font-size: 16px;
				font-weight: 400;


				&.jsHeaderCatalogTrigger:before {
					content: '';
					position: absolute;
					right: 0;
					width: 16px;
					height: 16px;
					background-repeat: no-repeat;
					background-position: center;
					background-size: 16px 16px;
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 5L15.5 12L8.5 19' stroke='%23C8CBCE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

				}
			}

			@include below(575px) {
				font-size: 14px;
			}
		}

		@include below(1023px) {
			margin-bottom: 20px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

	}



	&__link {

		@include below(1023px) {
			display: block;
			font-size: 16px;
			width: 100%;
			position: relative;

			&:before {
				position: absolute;
				content: '';
				right: 0;
				top: 0;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 5L15.5 12L8.5 19' stroke='%23C8CBCE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				width: 24px;
				height: 24px;
				margin-top: -1px;

				@include below(575px) {

					background-size: 16px 16px;
				}
			}
		}

		@include below(575px) {
			font-size: 14px;
		}
	}

	&__item-category {

		@include below(1023px) {
			padding-left: 30px;
			margin-bottom: 24px;
			position: relative;
			font-weight: 700;
		}

		@include below(575px) {
			font-size: 14px;
			padding-left: 20px;
		}

		&:before {
			content: '';
			position: absolute;
			top: -1px;
			left: -4px;
			display: inline-block;
			width: 24px;
			height: 24px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2071 4.29289C16.5976 4.68342 16.5976 5.31658 16.2071 5.70711L9.91421 12L16.2071 18.2929C16.5976 18.6834 16.5976 19.3166 16.2071 19.7071C15.8166 20.0976 15.1834 20.0976 14.7929 19.7071L7.79289 12.7071C7.40237 12.3166 7.40237 11.6834 7.79289 11.2929L14.7929 4.29289C15.1834 3.90237 15.8166 3.90237 16.2071 4.29289Z' fill='%2300ADEF'/%3E%3C/svg%3E%0A");

			@include below(575px) {
				width: 16px;
				height: 16px;
				background-size: 16px 16px;
				top: 1px;
			}
		}
	}
}
