.catalog-item {
	position: relative;
	display: flex;
	padding: 16px;
	border: 1px solid $gray-2;

	&:not(:first-child) {
		border-top: none;

		@include below(600px) {
			border-top: 1px solid $gray-2;
		}
	}

	&:first-child {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	&:last-child {
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	@include below(600px) {
		flex-wrap: wrap;
		margin-bottom: 12px;
		padding: 12px;
		border-radius: 4px;
	}

	&__img {
		flex-shrink: 0;
		width: 204px;
		height: 204px;
		margin-right: 32px;
		overflow: hidden;
		border-radius: 4px;

		img {
			width: 100%;
		}

		@include below(1023px) {
			width: 136px;
			height: 136px;
			margin-right: 16px;
		}

		@include below(600px) {
			width: 128px;
			height: 128px;
		}
	}

	&__title {
		display: inline-block;
		//display: box;
		height: 57px;
		margin-top: 16px;
		margin-bottom: 16px;
		overflow: hidden;
		color: $dark;
		font-size: 16px;
		line-height: 125%;
		text-decoration: none;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;

		span {
			//display: box;
			overflow: hidden;
			font-size: 15px;
			line-height: 19px;
			text-overflow: ellipsis;
			word-wrap: break-word;
			-ms-line-clamp: 2;
			-webkit-line-clamp: 2;
			line-clamp: 2;
			-webkit-box-orient: vertical;
		}

		&:hover {
			color: $blue;
		}

		@include below(1023px) {
			margin-top: 0;
			font-size: 14px;
		}

		@include below(600px) {
			margin-bottom: 0;
		}
	}

	&__description {
		flex-grow: 1;
		max-width: 500px;
		margin-right: 56px;
		padding-right: 56px;
		border-right: 1px solid $gray-2;

		@include below(1200px) {
			margin-right: 32px;
			padding-right: 32px;
		}

		@include below(1023px) {
			margin-right: 16px;
			padding-right: 16px;
		}

		@include below(600px) {
			width: calc(100% - 144px);
			margin-right: 0;
			padding-right: 0;
			border-right: 0;
		}
	}
}

.item-options {
	&__item {
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		line-height: 140%;

		&:not(:last-child) {
			margin-bottom: 8px;
		}

		&--colors {
			align-items: flex-end;
			margin-top: -5px;
		}

		@include below(600px) {
			display: inline;
			font-size: 12px;
			white-space: nowrap;

			&:not(:last-child):not(&--colors)::after {
				position: relative;
				right: 3px;
				color: $gray-4;
				content: ',';
			}

			&--colors {
				position: absolute;
				top: 120px;
				left: 156px;
			}
		}
	}

	&__title {
		color: $gray-4;

		@include below(600px) {
			display: none;
		}
	}

	&__value {
		color: $dark;

		@include below(600px) {
			display: inline;
			color: $gray-4;
		}
	}

	&__divider {
		flex-grow: 1;
		margin-right: 3px;
		margin-bottom: 4px;
		margin-left: 5px;
		border-bottom: 1px dashed #c8cbce;

		@include below(600px) {
			display: none;
		}
	}

	&__color {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-color: $white;
		border: 1px solid $color-item-border;
		border-radius: 50%;
	}
}

.item-pricing {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	justify-content: space-between;
	max-height: 100%;
	padding-top: 16px;
	padding-bottom: 16px;

	@include below(1023px) {
		padding-top: 0;
		padding-bottom: 0;
	}

	@include below(600px) {
		flex-direction: row;
		width: 100%;
		margin-top: 12px;
		padding-top: 12px;
		border-top: 1px solid $gray-2;
	}

	&__title {
		margin-bottom: 12px;
		font-size: 16px;
		line-height: 125%;

		@include below(1023px) {
			font-size: 14px;
		}

		@include below(600px) {
			display: none;
		}
	}

	&__price-item {
		&:not(:last-child) {
			margin-bottom: 8px;
		}

		@include below(600px) {
			line-height: 100%;
		}
	}

	&__price-current {
		font-size: 16px;

		@include below(600px) {
			font-size: 14px;
		}
	}

	&__price-old {
		font-size: 13px;
	}

	&__status {
		display: flex;
		align-items: center;
		height: 100%;
		font-size: 12px;

		&--available {
			color: $status-available;
		}

		&--delivery {
			color: $status-delivery;
		}

		&--order {
			color: $status-order;
		}

		@include below(600px) {
			position: absolute;
			top: 126px;
			right: 16px;
			height: auto;
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		margin-top: auto;

		@include below(600px) {
			flex-direction: row-reverse;

			.card-product__favorite {
				width: 44px;
				height: 44px;
				margin-right: 8px;
			}
		}
	}

	&__btn {
		svg {
			width: 20px;
			height: 20px;
		}

		@include above(601px) {
			height: 44px;
			margin-right: 12px;
			font-size: 16px;
		}

		@include below(600px) {
			width: 44px;
			height: 44px;
			padding: 0;
		}
	}
}

.catalog__inner.mosaic {
	.catalog-item {
		flex-direction: column;
		width: 100%;
		margin-top: -1px;
		padding: 0;
		border: 1px solid $gray-2;
		transition: box-shadow 0.3s ease;
		border-left-color: transparent;

		@include below(600px) {
			margin-bottom: 0;
			border-radius: 0;
		}

		&:nth-child(4n + 1) {
			border-left: 1px solid $gray-2;

			@include below(1023px) {
				border-left-color: transparent;
			}
			@include below(600px) {
				border-left-color: transparent;
			}
		}

		&:nth-child(3n + 1) {
			@include below(1023px) {
				border-left-color: $gray-2;
			}
			@include below(600px) {
				border-left-color: transparent;
			}
		}

		&:nth-child(2n + 1) {
			@include below(600px) {
				border-left-color: $gray-2;
			}
		}

		& + & {
			border-left: 0;
		}

		&__title {
			height: 38px;
			margin-top: 0;
			margin-bottom: 8px;
			font-size: 14px;
			line-height: 130%;

			@include below(400px) {
				font-size: 12px;
			}

			span {
				display: flex;
				overflow: hidden;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}

		&__img {
			width: 100%;
			height: 170px;
			margin-right: 0;
			border-radius: 0;
			@include adaptiveValue('height', 170, 104);

			img {
				width: 100%;
				height: 100%;
				margin: 0 auto;
				object-fit: contain;
			}
		}

		&__description {
			margin-right: 0;
			padding: 12px;
			border-right: 0;

			@include below(400px) {
				padding: 8px;
			}

			@include below(600px) {
				width: 100%;
			}
		}
	}

	.item-options {
		&__item {
			display: inline;
			white-space: nowrap;

			&:not(:last-child):not(&--colors)::after {
				position: relative;
				right: 3px;
				color: $gray-4;
				content: ',';
			}

			&--colors {
				position: absolute;
				//top: 146px;
				@include adaptiveValue('top', 146, 80);

				left: 8px;
			}
		}

		&__list {
			line-height: 100%;
		}

		&__title {
			display: none;
		}

		&__divider {
			display: none;
		}

		&__value {
			display: inline;
			color: $gray-4;

			@include below(400px) {
				font-size: 12px;
			}
		}

		&__color {
			width: 16px;
			height: 16px;
		}
	}

	.item-pricing {
		position: relative;
		padding: 12px;

		@include below(600px) {
			flex-direction: column;
			margin-top: 0;
			border-top: 0;
		}

		@include below(400px) {
			padding: 8px;
		}

		&__title {
			display: none;
		}

		&__buttons {
			flex-direction: row;

			.card-product__favorite {
				@include below(600px) {
					margin-right: 0;
				}
			}
		}

		&__btn {
			display: flex;
			flex-grow: 1;
			margin-right: 12px;

			.button__text {
				@include below(400px) {
					font-size: 14px;
				}
			}
		}

		&__price {
			margin-bottom: 24px;

			&-item {
				margin-bottom: 0;
			}
		}

		&__price-current {
			font-size: 14px;
			@include below(600px) {
				font-size: 12px;
			}
		}

		&__price-old {
			font-size: 12px;
			@include below(600px) {
				font-size: 10px;
			}
		}

		&__status {
			position: absolute;
			top: auto;
			right: auto;
			bottom: 0;
			left: 12px;
			height: 100%;
		}
	}
}
