.service {
  display: flex;

  @include below(1023px) {
    flex-direction: column-reverse;
  }
  // .service__inner
  &__inner {
    max-width: 864px;
  }

  // .service__brands
  &__brands {
    max-height: 50px;
    margin-bottom: 24px;

    img {
      max-width: 100%;
      max-height: 50px;
      object-fit: contain;
    }
  }

  p{
    margin-bottom: 24px;
  }

  ul {
    margin-bottom: 24px;
    li {
      padding-left: 32px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 16px;
        top: 11px;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        background-color: $dark;
        border-radius: 50%;
      }
    }
  }

  // .service__form-wrap
  &__form-wrap {
    width: 100%;
    margin-left: 32px;
    min-width: 368px;

    @include below(1023px) {
      margin-left: 0;
      margin-bottom: 80px;
    }
    @include below(600px) {
      margin-bottom: 64px;
      min-width: auto;
    }

  }


  // .service__form
  &__form {
    padding: 32px;
    background-color: $gray-3;

    @include below(423px) {
      padding: 16px;
    }

    @media (min-width: 601px) and (max-width: 1023px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 16px;

      .wide {
        grid-column: 1/3;
      }
    }

    textarea {
      height: 132px;
      resize: none;

      & + .input__placeholder {
        top: 25px;
      }
    }

  }
}
